{% load generic_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>House Mercere</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- Add additional CSS in static file -->
  {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/generic.css' %}">
    <script src="{% static 'js/jquery-3.6.0.min.js'%}"></script>
    {% block extraLoads %}
    {% endblock %}
</head>
<body class="d-flex flex-column h-100">
<div class="container-fluid h-100">
<div class="row h-100">
    <div class="col px-0">
        <nav class="navbar navbar-expand-md">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'logo.png' %}" width="30" height="30" alt="Logo"> HM
            </a>
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main-navigation">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'character-create' %}">Create Character</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'saga-create' %}">Create Saga</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sagas' %}">All Sagas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
            </div>
        </nav>
                <div class="d-flex justify-content-end">
                <button class="btn rounded-bottom" type="button" data-toggle="collapse" data-target="#collapseSidebar" aria-expanded="false" aria-controls="collapseSidebar" onfocus="this.blur()" onclick="dropdownState('collapseSidebar');" id="sidebar-button">
                    <i class="bi bi-person-lines-fill"></i>
                </button>
                </div>
        <div class="container-fluid">
            <div class="col-sm-12 ">{% block content %}{% endblock %}</div>
        </div>
    </div>
    <div class="col-2 collapse sidebar h-100" id="collapseSidebar">
        {% block sidebar %}
                    {% if user.is_authenticated %}
                        <div class="row align-items-end border-bottom border-dark border-5" style="min-height: 30px;">
                            <div class="col-4">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <div class="col-8">
                                <a href="{% url 'profile' %}">{{ user.get_username}}</a>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-12">
                            <a href="{% url 'profile' %}">Profile</a>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-12" style="background-color: #9fcdff">
                                <p>Sagas<p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {% if sagaStoryGuideList %}
                                    {% for saga in sagaStoryGuideList %}
                                        <i class="bi bi-book"></i>
                                        <a href="{{ saga.get_absolute_url }}">{{ saga.name }}</a>
                                        {% if sSagaCharacterList|get_item:saga %}
                                            <a data-toggle="collapse" href="#{{ saga.name_id }}"  role="button" aria-expanded="false" aria-controls="collapse{{ saga.name }}" style="color:#000000;">
                                                <i onclick="dropdownState('{{ saga.name_id }}');" id="toggle{{ saga.name_id }}" class="bi bi-menu-up" ></i>
                                            </a>
                                            <div class="collapse" id="{{ saga.name_id }}">
                                            <ul class="list-group">
                                            {% for character in sSagaCharacterList|get_item:saga %}
                                                <a class="list-group-item-action list-group-item sidebarElement" href="{{ character.get_absolute_url }}">{{ character.name }}</a>
                                            {% endfor %}
                                            </ul>
                                            </div>
                                        {% endif %}
                                        <br>
                                    {% endfor %}
                                {% endif %}
                                {% if sagaMemberList %}
                                {% for saga in sagaMemberList %}
                                    <a href="{{ saga.get_absolute_url }}">{{ saga.name }}</a>
                                    {% if mSagaCharacterList|get_item:saga %}
                                        <a data-toggle="collapse" href="#{{ saga.name_id }}"  role="button" aria-expanded="false" aria-controls="collapse{{ saga.name }}" style="color:#000000;">
                                            <i onclick="dropdownState('{{ saga.name_id }}');" id="toggle{{ saga.name_id }}" class="bi bi-menu-up" ></i>
                                        </a>
                                        <div class="collapse" id="{{ saga.name_id }}">
                                        <ul class="list-group">
                                        {% for character in mSagaCharacterList|get_item:saga %}
                                                <a class="list-group-item-action list-group-item sidebarElement" href="{{ character.get_absolute_url }}">{{ character.name }}</a>
                                        {% endfor %}
                                        </ul>
                                        </div>
                                    {% endif %}
                                    <br>
                                {% endfor %}
                                {% endif %}
                                {% if sagalessCharacterList %}
                                    <span style="color: white;">Drafts</span>
                                    <a data-toggle="collapse" href="#sagalessDropdown" role="button" aria-expanded="false" aria-controls="collapsesagalessDropdown" style="color:#000000;">
                                        <i onclick="dropdownState('sagalessDropdown');" id="togglesagalessDropdown" class="bi bi-menu-up" ></i></a>
                                    <div class="collapse" id="sagalessDropdown">
                                    <ul class="list-group">
                                    {% for character in sagalessCharacterList %}
                                        <a class="list-group-item-action list-group-item sidebarElement" href="{{ character.get_absolute_url }}">{{ character.name }}</a>
                                    {% endfor %}
                                    </ul>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row"><div class="col-12">
                            <a href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
                        </div></div>
                    {% else %}
                        <a href="{% url 'login' %}?next={{ request.path }}">Login</a>
                    {% endif %}
        {% endblock %}
    </div>
</div>
</div>

<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
        <span class="text-muted">All Ars Magica content owned by atlas games. Site made by Joseph Kaiser.</span>
    </div>
</footer>
<script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'js/generic.js' %}"></script>
</body>
</html>
