{% extends "character_view.html" %}
{% load generic_extras %}

{% block edit_page %}
<li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true" href="#">Edit Page</a>
</li>
{% endblock %}

{% block extraLoads %}
<div class="modal fade" id="weaponModal" role="dialog" aria-label="Add Weapon Form" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add Weapon</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form method="post">
            {% csrf_token %}
                <div class="form-group">
                    <table>
                        {{ weaponForm.as_table }}
                    </table>
                </div>
                <input type="hidden" id="form_type" name="form-type" value="weapon">
                <button class="btn btn-primary" value="cancel" data-dismiss="modal" aria-label="cancel"> Cancel </button>
                <button class="btn btn-primary" value="submit" type="submit"> Add Weapon </button>
            </form>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="armorModal" role="dialog" aria-label="Add Armor Form" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add Armor</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form method="post">
            {% csrf_token %}
                <div class="form-group">
                    <table>
                        {{ armorForm.as_table }}
                    </table>
                </div>
                <input type="hidden" id="form_type" name="form-type" value="armor">
                <button class="btn btn-primary" value="cancel" data-dismiss="modal" aria-label="cancel"> Cancel </button>
                <button class="btn btn-primary" value="submit" type="submit"> Add Armor </button>
            </form>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="miscModal" role="dialog" aria-label="Add Misc Equipment Form" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add Misc Equipment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form method="post">
            {% csrf_token %}
                <div class="form-group">
                    <table>
                        {{ miscEquipForm.as_table }}
                    </table>
                </div>
                <input type="hidden" id="form_type" name="form-type" value="misc">
                <button class="btn btn-primary" value="cancel" data-dismiss="modal" aria-label="cancel"> Cancel </button>
                <button class="btn btn-primary" value="submit" type="submit"> Add Misc Equipment </button>
            </form>
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block edit_page %}
<div class="col">
    <a role='button' class="btn btn-primary disabled" href="#" aria-disabled="true">Edit Page</a>
</div>
{% endblock %}

{% block character_content %}
<div class="col-3">
        <div class="row">
            <div class="col bg-info border-bottom border-left">
                Equipment
            </div>
        </div>
        <div class="row">
            <div class="col bg-info border-bottom border-left">
                &emsp; Weapons
            </div>
            <div class="col bt-info border-bottom">
                 <button type="button" class="btn-primary btn" data-toggle="modal" data-target="#weaponModal">Add Weapon</button>
            </div>
        </div>
        {% for equip in character.weaponinstance_set.all %}
        <div class="row">
            <div class="col border-bottom">
                {{ equip }}
                <a data-toggle="collapse" href="#weapon{{ equip.id }}"  role="button" aria-expanded="false" aria-controls="collapse weapon{{ equip.id }}" style="color:#000000;">
                    <i onclick="dropdownState('weapon{{ equip.id }}');" id="toggleweapon{{ equip.id }}" class="bi bi-menu-up" ></i>
                </a>
                <div class="collapse" id="weapon{{ equip.id }}">
                    <ul style="list-style-type: none" class="bg-light">
                        <li>Type: {{ equip.referenceWeapon }}</li>
                        <li>Description: {{ equip.description }}</li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col bg-info border-bottom border-left">
                &emsp; Armor
            </div>
            <div class="col bt-info border-bottom">
                 <button type="button" class="btn-primary btn" data-toggle="modal" data-target="#armorModal">Add Armor</button>
            </div>
        </div>
        {% for equip in character.armorinstance_set.all %}
        <div class="row">
            <div class="col border-bottom">
                {{ equip }}
                <a data-toggle="collapse" href="#armor{{ equip.id }}"  role="button" aria-expanded="false" aria-controls="collapse armor{{ equip.id }}" style="color:#000000;">
                    <i onclick="dropdownState('armor{{ equip.id }}');" id="togglearmor{{ equip.id }}" class="bi bi-menu-up" ></i>
                </a>
                <div class="collapse" id="armor{{ equip.id }}">
                    <ul style="list-style-type: none" class="bg-light">
                        <li>Type: {{ equip.referenceArmor }}</li>
                        <li>Description: {{ equip.description }}</li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col bg-info border-bottom border-left">
                &emsp; Misc
            </div>
            <div class="col bt-info border-bottom">
                 <button type="button" class="btn-primary btn" data-toggle="modal" data-target="#miscModal">Add Misc</button>
            </div>
        </div>
        {% for equip in character.miscequipinstance_set.all %}
        <div class="row">
            <div class="col border-bottom">
                {{ equip }}
                <a data-toggle="collapse" href="#misc{{ equip.id }}"  role="button" aria-expanded="false" aria-controls="collapse{{ equip.id }}" style="color:#000000;">
                    <i onclick="dropdownState('misc{{ equip.id }}');" id="togglemisc{{ equip.id }}" class="bi bi-menu-up" ></i>
                </a>
                <div class="collapse" id="misc{{ equip.id }}">
                    <ul style="list-style-type: none" class="bg-light">
                        <li>Type: {{ equip.referenceEquip }}</li>
                        <li>Description: {{ equip.description }}</li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
