{% extends "character_view.html" %}
{% load generic_extras %}
{% block extraLoads %}
<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
$('.popover-dismiss').popover({
  trigger: 'focus'
})
</script>
<div class="modal fade" id="weaponModal" role="dialog" aria-label="Add Weapon Form" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add Weapon</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form method="post">
            {% csrf_token %}
                <div class="form-group">
                    <table>
                        {{ weaponForm.as_table }}
                    </table>
                </div>
                <input type="hidden" id="form_type" name="form-type" value="weapon">
                <button class="btn btn-primary" value="cancel" data-dismiss="modal" aria-label="cancel"> Cancel </button>
                <button class="btn btn-primary" value="submit" type="submit"> Add Weapon </button>
            </form>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="armorModal" role="dialog" aria-label="Add Armor Form" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add Armor</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form method="post">
            {% csrf_token %}
                <div class="form-group">
                    <table>
                        {{ armorForm.as_table }}
                    </table>
                </div>
                <input type="hidden" id="form_type" name="form-type" value="armor">
                <button class="btn btn-primary" value="cancel" data-dismiss="modal" aria-label="cancel"> Cancel </button>
                <button class="btn btn-primary" value="submit" type="submit"> Add Armor </button>
            </form>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="miscModal" role="dialog" aria-label="Add Misc Equipment Form" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add Misc Equipment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form method="post">
            {% csrf_token %}
                <div class="form-group">
                    <table>
                        {{ miscEquipForm.as_table }}
                    </table>
                </div>
                <input type="hidden" id="form_type" name="form-type" value="misc">
                <button class="btn btn-primary" value="cancel" data-dismiss="modal" aria-label="cancel"> Cancel </button>
                <button class="btn btn-primary" value="submit" type="submit"> Add Misc Equipment </button>
            </form>
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block edit_page %}
<li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true" href="#">Edit Page</a>
</li>
{% endblock %}


{% block character_content %}
<div class="row border-bottom bg-info">
Current Kit
</div>
{% if character.equippedWeapons != None %}
    {% load mathfilters %}
        {% if character.equippedWeapons|get_item:'shield' != None %}
            {% with weapon=character.equippedWeapons|get_item:'weapon' shield=character.equippedWeapons|get_item:'shield' %}
                <div class="row">
                    <div class="col-2 border-right">
                        {{ weapon }}
                    </div>
                    <div class="col">
                        <a tabindex="0" role="button" class="btn btn-primary" data-trigger="focus" data-toggle="popover" title="Initiative Calculation"
                                data-content="Qik: {{ character.qik }} |Weap: {{ weapon.referenceWeapon.init }} |Enc: {{ character.encumbrance }}">
                          <i class="bi bi-info-circle"></i>
                        </a>
                        Init: {{ character.equippedWeapons|get_item:'init' }}
                    </div>
                    <div class="col">
                        <a tabindex="0" role="button" class="btn btn-primary" data-trigger="focus" data-toggle="popover" title="Attack Calculation"
                                data-content="Dex: {{ character.dex }} |Ability: {{ weapon.get_ability }}({{ weapon.get_ability_score }}) |Weap: {{ weapon.referenceWeapon.atk }}">
                          <i class="bi bi-info-circle"></i>
                        </a>
                        Attack: {{ character.equippedWeapons|get_item:'attack' }}
                    </div>
                    <div class="col">
                        <a tabindex="0" role="button" class="btn btn-primary" data-trigger="focus" data-toggle="popover" title="Damage Calculation"
                                data-content="Str: {{ character.qik }} |Weap: {{ weapon.referenceWeapon.dam }}">
                          <i class="bi bi-info-circle"></i>
                        </a>
                        Damage: {{ character.equippedWeapons|get_item:'damage' }}
                    </div>
                    <div class="col">
                        Range: {{ weapon.referenceWeapon.range }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 border-right">
                        {{ shield }}
                    </div>
                    <div class="col">
                        <a tabindex="0" role="button" class="btn btn-primary" data-trigger="focus" data-toggle="popover" title="Defence Calculation"
                                data-content="Qik: {{ character.qik }} |Ability: {{ shield.get_ability }}({{ shield.get_ability_score }}) |Shield: {{ shield.referenceWeapon.dfn }} |Weap: {{ weapon.referenceWeapon.dfn }}">
                          <i class="bi bi-info-circle"></i>
                        </a>
                        Defence: {{ character.equippedWeapons|get_item:'defence' }}
                    </div>
                    <div class="col">
                        <a tabindex="0" role="button" class="btn btn-primary" data-trigger="focus" data-toggle="popover" title="Defence Calculation"
                                data-content="Qik: {{ character.qik }} |Ability: {{ shield.get_ability }}({{ shield.get_ability_score }}) |Shield: {{ shield.referenceWeapon.dfn }}">
                          <i class="bi bi-info-circle"></i>
                        </a>
                        Ranged Defence: {{ character.equippedWeapons|get_item:'rangedDefence' }}
                    </div>
                    <div class="col">
                        Load: {{ character.equippedWeapons|get_item:'attack' }}
                    </div>
                </div>
            {% endwith %}
        {% else %}
            {% with weapon=character.equippedWeapons|get_item:'weapon' %}
                <div class="row">
                    <div class="col-2 border-right">
                        {{ weapon }} <br> {{ shield }}
                    </div>
                    <div class="col">
                        <a tabindex="0" role="button" class="btn btn-primary" data-trigger="focus" data-toggle="popover" title="Initiative Calculation"
                                data-content="Qik: {{ character.qik }} |Weap: {{ weapon.referenceWeapon.init }} |Enc: {{ character.encumbrance }}">
                          <i class="bi bi-info-circle"></i>
                        </a>
                        Init: {{ character.equippedWeapons|get_item:'init' }}
                    </div>
                    <div class="col">
                        <a tabindex="0" role="button" class="btn btn-primary" data-trigger="focus" data-toggle="popover" title="Attack Calculation"
                                data-content="Dex: {{ character.dex }} |Ability: {{ weapon.get_ability }}({{ weapon.get_ability_score }}) |Weap: {{ weapon.referenceWeapon.atk }}">
                          <i class="bi bi-info-circle"></i>
                        </a>
                        Attack: {{ character.equippedWeapons|get_item:'attack' }}
                    </div>
                    <div class="col">
                        <a tabindex="0" role="button" class="btn btn-primary" data-trigger="focus" data-toggle="popover" title="Damage Calculation"
                                data-content="Str: {{ character.qik }} |Weap: {{ weapon.referenceWeapon.dam }}">
                          <i class="bi bi-info-circle"></i>
                        </a>
                        Damage: {{ character.equippedWeapons|get_item:'damage' }}
                    </div>
                    <div class="col">
                        Range: {{ weapon.referenceWeapon.range }}
                    </div>
                </div>
                <div class="row border-bottom">
                    <div class="col-2 border-right"></div>
                    <div class="col">
                        <a tabindex="0" role="button" class="btn btn-primary" data-trigger="focus" data-toggle="popover" title="Defence Calculation"
                                data-content="Qik: {{ character.qik }} |Ability: {{ weapon.get_ability }}({{ weapon.get_ability_score }}) |Weap: {{ weapon.referenceWeapon.dfn }}">
                          <i class="bi bi-info-circle"></i>
                        </a>
                        Defence: {{ character.equippedWeapons|get_item:'defence' }}
                    </div>
                    <div class="col">
                        <a tabindex="0" role="button" class="btn btn-primary" data-trigger="focus" data-toggle="popover" title="Defence Calculation"
                                data-content="Qik: {{ character.qik }} |Ability: {{ weapon.get_ability }}({{ weapon.get_ability_score }})">
                          <i class="bi bi-info-circle"></i>
                        </a>
                        Ranged Defence: {{ character.equippedWeapons|get_item:'rangedDefence' }}
                    </div>

                    <div class="col">
                        Load: {{ character.equippedWeapons|get_item:'attack' }}
                    </div>
                </div>
            {% endwith %}
        {% endif %}
{% else %}
    {{ character.name }} has no weapons equipped
    <br>
{% endif %}
{% if character.equippedArmor != None %}
    <div class="row border-bottom">
    <div class="col-2 border-right">
        {{ character.equippedArmor }}
    </div>
    {% if character.equippedArmor.partial %}
    <div class="col">
        Partial Protection: {{ character.equippedArmor.referenceArmor.partialProt }}
    </div>
    <div class="col">
        Partial Load: {{ character.equippedArmor.referenceArmor.partialLoad }}
    </div>
    {% else %}
    <div class="col">
        Protection: {{ character.equippedArmor.referenceArmor.prot }}
    </div>
    <div class="col">
        Load: {{ character.equippedArmor.referenceArmor.load }}
    </div>
    {% endif %}
    </div>
{% else %}
    {{ character.name }} has no armor equipped <br>
{% endif %}
    Soak: {{ character.soak }}
<br><br>

<div class="row">
    <div class="col">
        <div class="row align-items-center justify-content-end">
        <div class="col-sm-2 text-center">Fatigue:</div>
        <div class="col-sm-10">
        <div class="progress w-100 border border-dark" style="height: 40px">

        <div class="progress-bar bg-danger" style="width: {{ character.fatigueScorePercentage }}%" role="progressbar" aria-valuenow="{{ character.fatigueScorePercentage }}" aria-valuemin="0" aria-valuemax="100">
            {{ character.fatigueStr }}
        </div>
        </div>
        </div>
        </div>
        <div class="row justify-content-end">
        <div class="col-sm-5">
            <a class="btn btn-primary btn-block" href="{% url 'add-fatigue' character.id %}">Add Fatigue</a>
        </div>
        <div class="col-sm-5">
            <a class="btn btn-primary btn-block" href="{% url 'subtract-fatigue' character.id %}">Remove Fatigue</a>
        </div>
        </div>
        <br>

        {% for wound in character.woundsRange.keys %}
        <div class="row justify-content-end">
            <div class="col-sm-3">
                <a class="btn btn-sm btn-primary" href="{% url 'add-wound' character.id wound %}">Add Wound</a>
            </div>
            <div class="col-sm-3">
                <a class="btn btn-primary btn-sm" href="{% url 'remove-wound' character.id wound %}">Remove Wound</a>
            </div>
        </div>
        <div class="row">
        <div class="col-2 text-center">
            {% if wound != 'incapacitated' and wound != 'dead' %}
                {{ wound }} Wounds
            {% else %}
                {{ wound }}
            {% endif %}
        </div>
        <div class="col-2 text-center">
            {% if wound != 'dead' %}
                {{ character.woundsRange|get_item:wound|get_item:0 }} - {{ character.woundsRange|get_item:wound|get_item:1 }}
            {% else %}
                {{ character.woundsRange|get_item:wound|get_item:0 }}
            {% endif %}
        </div>
        <div class="col-sm">
            <div class="progress w-100 border border-dark" style="height: 10px">
                <div class="progress-bar bg-danger" style="width: {{ character.wounds|get_item:wound }}%" role="progressbar" aria-valuenow="{{ character.wounds|get_item:wound  }}" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
        </div>

        <br>
        {% endfor %}

    </div>
</div>
{% endblock %}
