{% extends 'base_generic.html' %}

{% block content %}
<div class="container d-flex justify-content-center">
<nav class="navbar navbar-expand navbar-dark bg-dark">
<ul class="navbar-nav mr-auto">
    {% for frm in forms %}
        {% if frm == selectedForm %}
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'create-spell-form' f=frm %}">{{ form }}</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'create-spell-form' f=frm %}">{{ frm }}</a>
        </li>
        {% endif %}
    {% endfor %}
</ul>
</nav>
<nav class="navbar navbar-expand navbar-dark bg-dark">
<ul class="navbar-nav mr-auto">
    {% for technique in techniques %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'create-spell' t=technique f=selectedForm %}">{{ technique }}</a>
        </li>
    {% endfor %}
</ul>
</nav>
</div>
{% endblock %}
