{% extends 'base_generic.html' %}

{% block content %}
<div class="container d-flex justify-content-center">
<nav class="navbar navbar-expand navbar-dark bg-dark">
<ul class="navbar-nav mr-auto">
    {% for frm in forms %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'create-spell' f=frm t=selectedTechnique %}">{{ frm }}</a>
        </li>
    {% endfor %}
</ul>
</nav>
<nav class="navbar navbar-expand navbar-dark bg-dark">
<ul class="navbar-nav mr-auto">
    {% for technique in techniques %}
        {% if technique == selectedTechnique %}
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'create-spell-technique' t=technique  %}">{{ technique }}</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'create-spell-technique' t=technique %}">{{ technique }}</a>
        </li>
        {% endif %}
    {% endfor %}
</ul>
</nav>
</div>
{% endblock %}
