{% extends 'base_generic.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="{% url 'view-sourceset' ss.id %}">{{ ss.name }}</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'sourceset-virtues' ss.id %}">Virtues</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'sourceset-flaws' ss.id %}">Flaws</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'sourceset-abilities' ss.id %}">Abilities</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'sourceset-equipment' ss.id %}">Equipment</a>
    </li>
    <li class="nav-item active">
    <a class="nav-link" href="{% url 'sourceset-spells' ss.id %}">Spells</a>
    </li>
</ul>
</nav>
    <br>
<nav class="navbar navbar-expand navbar-dark bg-dark">
<ul class="navbar-nav mr-auto">
    {% for frm in forms %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'sourceset-spells-form' pk=ss.id form = frm %}">{{ frm }}</a>
        </li>
    {% endfor %}
</ul>
</nav>
<nav class="navbar navbar-expand navbar-dark bg-dark">
<ul class="navbar-nav mr-auto">
    {% for technique in techniques %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'sourceset-spells-technique' pk=ss.id tech = technique %}">{{ technique }}</a>
        </li>
    {% endfor %}
</ul>
</nav>
{% endblock %}
