{% extends 'base_generic.html' %}
{% block extraLoads %}
<script>
$(function(){
    // Enables popover
    $("[data-toggle=popover]").popover();
});
</script>
{% endblock %}
{% block content %}

<div class="row">
<div class="col">
    {{ ss.name }}
    <br>
    {% for user in ss.subscribers.all %}
        {{ user }}
        <br>
    {% endfor %}
    {% for saga in ss.saga_set.all %}
        {{ saga }}
        <br>
    {% endfor %}
</div>
<div class="col">
    <a class= 'btn btn-primary' href="{% url 'edit-sourceset' ss.id %}"> Edit Source</a>
</div>
</div>
<div class="row bg-info border-bottom">
<div class="col">
    Abilities
</div>
</div>
    {% for ability in ss.ability_set.all %}
        <div class="row"><div class="col">
            {{ ability }}
        </div></div>
    {% endfor %}

<div class="row bg-info border-bottom">
    <div class="col">
        Virtues
    </div>
    <div class="col">
        <a href="{% url 'import-virtues' ss.id %}" class="btn btn-primary">Import Virtues</a>
    </div>
</div>
    {% for virtue in ssVirtues %}
        <div class="row"><div class="col">
            {{ virtue }}
        </div>
        <div class="col">
            <a class="btn btn-primary"
               role="button"
               data-toggle="popover"
               data-trigger="focus"
               title="<b>{{ virtue.name }}</b>"
               data-content="<div><b>Description</b> - {{ virtue.description }} <br></div>">Details</a>
        </div>
        </div>
    {% endfor %}

<div class="row bg-info border-bottom">
    <div class="col">
        Flaws
    </div>
</div>
    {% for flaw in ssFlaws %}
        <div class="row"><div class="col">
    {{ flaw }}
        </div></div>
    {% endfor %}

<div class="row bg-info border-bottom">
    <div class="col">
        Equipment
    </div>
</div>
    {% for equip in ss.equipment_set.all %}
        <div class="row"><div class="col">
            {{ equip }}
        </div></div>
    {% endfor %}


{% endblock %}
