{% extends 'base_generic.html' %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="{% url 'view-sourceset' ss.id %}">{{ ss.name }}</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'sourceset-virtues' ss.id %}">Virtues</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'sourceset-flaws' ss.id %}">Flaws</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'sourceset-abilities' ss.id %}">Abilities</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'sourceset-equipment' ss.id %}">Equipment</a>
    </li>
</ul>
</nav>

<div class="row">
<div class="col">
    Subscribers:
    {% for user in ss.subscribers.all %}
        {{ user }}
        <br>
    {% endfor %}
    Used in:
    {% for saga in ss.saga_set.all %}
        {{ saga }}
        <br>
    {% endfor %}
</div>
<div class="col">
    <a class= 'btn btn-primary' href="{% url 'edit-sourceset' ss.id %}"> Edit Source</a>
</div>
<div class="col">
    <a class="btn btn-primary" href="{% url 'delete-sourceset' ss.id %}"> Delete Source</a>
</div>
</div>
<div class="row bg-info border-bottom">
<div class="col">
    Abilities
</div>
</div>
    {% for ability in ss.ability_set.all %}
        <div class="row"><div class="col">
            {{ ability }}
        </div></div>
    {% endfor %}

<div class="row bg-info border-bottom">
    <div class="col-6">
        Virtues
    </div>
    <div class="col">
        <a href="{% url 'edit-virtues' ss.id %}" class="btn btn-primary">Edit Virtues</a>
    </div>
    <div class="col">
        <a href="{% url 'import-virtues' ss.id %}" class="btn btn-primary">Import Virtues (JSON)</a>
    </div>
    <div class="col">
        <a href="{% url 'export-virtues' ss.id %}" class="btn btn-primary">Export Virtues (JSON)</a>
    </div>
</div>
    {% for virtue in ssVirtues %}
        <div class="row border-bottom"><div class="col">
            {{ virtue }}
        </div>
        <div class="col">
            <ul class='list-group'>
                <li class='list-group-item'><b>Description: </b>{{ virtue.description }}</li>
                <li class='list-group-item'><b>Value: </b>{{ virtue.value }}</li>
                <li class='list-group-item'><b>Type: </b>{{ virtue.type }}</li>
            </ul>
        </div>
        </div>
    {% endfor %}

<div class="row bg-info border-bottom">
    <div class="col">
        Flaws
    </div>
</div>
    {% for flaw in ssFlaws %}
        <div class="row"><div class="col">
    {{ flaw }}
        </div>
        <div class="col">
            <ul class='list-group'>
                <li class='list-group-item'><b>Description: </b>{{ flaw.description }}</li>
                <li class='list-group-item'><b>Value: </b>{{ flaw.value }}</li>
                <li class='list-group-item'><b>Type: </b>{{ flaw.type }}</li>
            </ul>
        </div>
        </div>
    {% endfor %}

<div class="row bg-info border-bottom">
    <div class="col">
        Equipment
    </div>
</div>
    {% for equip in ss.equipment_set.all %}
        <div class="row"><div class="col">
            {{ equip }}
        </div></div>
    {% endfor %}


{% endblock %}
