{% extends "base_generic.html" %}
{% load generic_extras %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>{{ user.get_username }}</h1>
        {% if sagaStoryGuideList %}
            {% for saga in sagaStoryGuideList %}
                <h5>Storyguide in:</h5>
                <li><a href="{{ saga.get_absolute_url }}">{{ saga.name }}</a>:</li>
                {% for character in sSagaCharacterList|get_item:saga%}
                    <li><a href="{{ character.get_absolute_url }}">{{ character.name }}</a></li>
                {% endfor %}
            {% endfor %}
        {% else %}
            <p>Not currently storyguiding any games.</p>

        {% endif %}
        <br>
        {% if sagaMemberList %}
            {% for saga in sagaMemberList %}
                <h5>Playing in:</h5>
                <li><a href="{{ saga.get_absolute_url }}">{{ saga.name }}</a>:</li>
                {% for character in mSagaCharacterList|get_item:saga %}
                    <li><a href="{{ character.get_absolute_url }}">{{ character.name }}</a></li>
                {% endfor %}
                <br>
            {% endfor %}
        {% else %}
            <h5>Not currently playing in any games.</h5>
        {% endif %}
    {% endif %}
{% endblock %}
